<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>github-repo Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../github-repo.html">
  </head>
  <body unresolved>

    <p>An example of <code>&lt;github-repo&gt;</code>:</p>

    <github-repo user="twbs" repo="bootstrap"></github-repo>

    

  </body>
</html>
